
@import '~antd/dist/antd.css';

h4 {
  color: white;
  font-weight: bold
}
body{
  background-color: #121212;
  color: white
}
.ant-list-item-meta-title{
  color: white;
}
a{
  color: white!important;
}
.ant-list-item-meta-description{
  color: white;
}
.ant-card{
  background-color:#181818;
}

.ant-modal-content{
  background-color: #181818;
  color: white;
}
.ant-btn{
  background-color: white;
  color: #121212;
  border: none;
  
}
.ant-modal-header{
  background-color: #181818;
  
}
.ant-modal-title{
  color: white;
}
.ant-btn:hover{
  background-color: #302f2f;
  color: white;
}
.ant-card-actions svg {
  color: rgb(255, 255, 255);
}
.ant-card-bordered{
  border: 1px solid #302f2f
}
.ant-card-actions{
  background-color: #404040;
  border: none;
}
.ant-card-meta-title{
  color: white;
}
.ant-card-meta-description{
  color: white;
  font-size: 12px;
}
.ant-menu-dark{
  background-color: #181818
}
.Login-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-image: url('/images/flat01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    }
.ant-list-split .ant-list-item{
  border-bottom: 1px solid #282828;
}
.Login-input{
  margin: 15px;
  width: 400px;
}

.Sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 5%;
    border-color: white;
    background-color: rgb(26, 26, 26);
    margin: 40px;
}

.Sign .Login-input{
  width: 250px;
}

.HomeThemes{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.Banner {
  height: 160px;
  background-image: url('/images/flat01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  align-items: center;
    justify-content: center;
}
.flag1{
  height: 63px;
  background-image: url('/France.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  border-radius: 5px;
  margin-right: 10px;
}
.flag2{
  height: 63px;
  background-image: url('/US.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  border-radius: 5px;
}
.flag1:hover{

  cursor: pointer;
  transition: 0.2s;
opacity: 0.8;
}
.flag2:hover{
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.8;
}
.Card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ant-empty-description{
  color: white;
}
.error{
  color: white;
  margin-top: 15px;
  text-align: center;
}
.CardError{
  display: flex;
  /* height: 70vh; */
  align-items: center;
    justify-content: center;
}
.container{
  width: 800px;
  margin-top: 20px;
}
.ant-list-item:hover{
  background-color: rgb(26, 26, 26);
  cursor: pointer;
  transition: 0.3s
}